<%= ancestors_breadcrumbs(@team) %>
<h1><%= @team.name %></h1>
<p><span> <%= link_to_add_child @team %> | <%= link_to_childs @team %> | <%= link_to_edit @team %> | <%= link_to_delete @team %> </span></p>
